* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

main {
  padding: 50px;
}

header {
  background: pink;
}

footer {
  background: green;
}

main {
  display: flex;
  justify-content: center;
}
